# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# ENV FILES
# =========================

.env

# =========================
# LOG FILES
# =========================

logs
*.log
npm-debug.log*

# =========================
# BUILD FILES
# =========================

dist/
build/

# =========================
# VITE
# =========================

.vite/

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd

# Python Virtual Environment
venv/
env/

# =========================
# MODEL FILES
# =========================

*.pkl

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================

.vscode/
.idea/

# =========================
# MONGO LOCAL DATA
# =========================

data/